Duplicar elementos de una lista
Descripción: Dada una lista de números, duplica cada elemento en la lista. Ejemplo:
# dada la siguiente lista el output esperado es:
lista = [2, 4, 6, 8]

[2, 4, 6, 8, 2, 4, 6, 8]

In [7]:
lista = [2, 4, 6, 8]
lista_duplicada = 2 * lista
print(lista_duplicada)

[2, 4, 6, 8, 2, 4, 6, 8]

Combinar dos listas
Descripción: Dadas dos listas, crea una nueva lista que contenga todos los elementos de ambas listas. Ejemplo:
# dadas las siguientes listas el output esperado es:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [29]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
lista_comb = lista1.extend(lista2)
lista_comb = lista1
lista_comb

[1, 2, 3, 4, 5, 6]

Calcular la suma de una lista de números
Descripción: Dada una lista de números, calcula la suma de todos los elementos.

In [32]:
numero_faltas = [3, 5, 7, 9, 3]
total_numero_faltas = sum(numero_faltas)
total_numero_faltas

27

4. Encontrar el valor máximo en una lista
Descripción: Dada una lista de números, encuentra el valor máximo

In [33]:
max(numero_faltas)

9

5.Calcular la longitud de una lista
Descripción: Dada una lista, calcula la cantidad de elementos que contiene.

In [36]:
numero_fallos =[3, 8 , 12, 3 , 7 , 12, 8, 6]
len(numero_fallos)

8

6.Encontrar el índice de un elemento en una lista
Descripción: Dada una lista y un valor objetivo, encuentra el índice del primer elemento que coincida con el valor objetivo.

In [50]:
nombres_alumnas = ["Laura", "Maria", "Cris", "Rosa"]
nombres_alumnas.index("Maria")

1

7.Contar ocurrencias de un elemento en una lista
Descripción: Dada una lista y un valor objetivo, cuenta cuántas veces aparece el valor objetivo en la lista.

In [51]:
numero_fallos.count(3)

2

8.Obtener una sublista de una lista
Descripción: Dada una lista, crea una nueva lista que contenga los elementos desde el índice 2 hasta el índice 5 (sin incluirlo).

In [53]:
nueva_numero_fallos = numero_fallos[2:5]
nueva_numero_fallos

[12, 3, 7]

9.10.Obtener el último elemento de una lista
Descripción: Dada una lista, obtén el último elemento

In [55]:
numero_fallos[-1]
nombres_alumnas[-1]

'Rosa'

11.obtener una sublista de una lista
Descripción: Dada una lista, obtén una sublista que contenga los elementos desde el índice 1 hasta el índice 3 (sin incluirlo)

In [59]:
sublista_nombre_alumnas = nombres_alumnas[1:3]
sublista_nombre_alumnas

['Maria', 'Cris']

12. Reemplazar un elemento en una lista
Descripción: Dada una lista, reemplaza el segundo elemento con un nuevo valor

In [69]:
numero_miembros_familia = [5, 4, 7, 3, 2, 2, 3, 8, 4, 3]
numero_miembros_familia.pop(2)
numero_miembros_familia.insert(2,9)
numero_miembros_familia

[5, 4, 9, 3, 2, 2, 3, 8, 4, 3]

13. Obtener una lista inversa
Descripción: Dada una lista, obtén una nueva lista que contenga los elementos en orden inverso.

In [91]:
numero_miembros_familia.reverse()
print(numero_miembros_familia)

[9, 8, 5, 4, 4, 3, 3, 3, 2, 2]

14.Ordenar una lista en orden ascendente
Descripción: Dada una lista de números, ordénala en orden ascendente

In [96]:
numero_miembros_familia.sort()
numero_miembros_familia

[2, 2, 3, 3, 3, 4, 4, 5, 8, 9]

EJERCICIOS BONUS
15. Obtener elementos pares de una lista
Descripción: Dada una lista, obtén una nueva lista que contenga solo los elementos en posiciones pares
¿Posiciones pares contando en python o contando normal?

In [104]:
lista_aciertos = [8, 7, 2, 6, 3, 7, 9, 10, 5]
lista_aciertos_pares = lista_aciertos[1::2] #POSICIONES PARES NORMALES, NO DE PYTHON
lista_aciertos_pares

[7, 6, 7, 10]

16.Obtener una sublista saltando elementos
Descripción: Dada una lista, obtén una sublista que contenga los elementos saltando de 3 en 3.

In [112]:
print(lista_aciertos)
lista_aciertos_tres = lista_aciertos[::3]
lista_aciertos_tres

[8, 7, 2, 6, 3, 7, 9, 10, 5]

[8, 6, 9]

17.encontrar el segundo valor máximo en una lista
Descripción: Dada una lista de números, encuentra el segundo valor máximo

In [127]:
max(lista_aciertos)
lista_aciertos

[8, 7, 2, 6, 3, 7, 9, 10, 5]

Ejercicios de TUPLAS
Acceder al primer elemento de una tupla
Descripción: Dada una tupla, obtén el primer elemento.

In [5]:
tupla = ( "rosa", "clavel", "margarita", "tulipan")
primer_elemento_tupla =tupla[0]
primer_elemento_tupla

'rosa'

Acceder al último elemento de una tupla
Descripción: Dada una tupla, obtén el último elemento.

In [11]:
ultimo_elemento = tupla[-1]
print(f"El {ultimo_elemento} es el último elemento")

El tulipan es el último elemento

Obtener la longitud de una tupla
Descripción: Dada una tupla, obtén la cantidad de elementos que contiene.

In [14]:
longitud= len(tupla)
print(f"La tupla tiene {longitud} elementos")

La tupla tiene 4 elementos

Concatenar dos tuplas
Descripción: Dadas dos tuplas, crea una nueva tupla que contenga todos los elementos de ambas tuplas.

In [22]:
tupla2= ("cerezo", "pino", "roble")
nueva_tupla = tupla +tupla2
print(f"La nueva tupla es: {nueva_tupla}")

La nueva tupla es: ('rosa', 'clavel', 'margarita', 'tulipan', 'cerezo', 'pino', 'roble')

Encontrar el índice de un elemento en una tupla
Descripción: Dada una tupla y un valor objetivo, encuentra el índice del primer elemento que coincida con el valor objetivo.

In [25]:
tupla3 =(8,9,1,5,8)
lugar_valor= tupla3.index(8) #buscamos el 8, por ejemplo
lugar_valor

0

Contar ocurrencias de un elemento en una tupla
Descripción: Dada una tupla y un valor objetivo, cuenta cuántas veces aparece el valor objetivo en la tupla.

In [30]:
tupla4 = (8,9,7,8,9,8,5,4)
contar= tupla4.count(9) #buscamos concurrencias del 9
contar

2

Obtener una subtuple de una tupla
Descripción: Dada una tupla, crea una nueva tupla que contenga los elementos desde el índice 1 hasta el índice 3 (sin incluirlo).

In [37]:
tupla4
nueva_tupla =tupla4[1:3]
nueva_tupla

(9, 7)

Invertir una tupla
Descripción: Dada una tupla, inviértela en orden

In [42]:
tupla4 = (8,9,7,8,9,8,5,4)
invertir_tupla = tupla4[::-1]
invertir_tupla

(4, 5, 8, 9, 8, 7, 9, 8)